<h1>Operations Calculators</h1>
<br>

<div class="form-group row col-sm-10">
	<label class="col-sm-2 col-form-label">What Shift?</label>
	<select class="form-control form-control-lg col-sm-3">
	  <option value="nights">Night Shift</option>
	  <option value="days">Day Shift</option>
	</select>
</div>
<form>
	<div class="form-group rowcol-sm-10">
		<label for="example-number-input" class="col-2 col-form-label">Number</label>
		<div class="col-10">
			<input class="form-control" type="number" id="number-input" onchange="Calculate()">
		</div>  
	</div>
</form>

<div class="row">
	<p id="result"></p>
</div>

<script type="text/javascript">
  function Multiply(a,b) {
		return a * b;
	}
</script>

<script type="text/javascript">
  function Calculate() {
	var x = document.getElementById("number-input").value;
	document.getElementById("result").innerHTML = Multiply(x,2) + " is twice your number!"
  }
  return false;
</script>
